.forecast{
    display:block;
    background:white;
    color:#000;
    border:7px;
    &-title{
text-align: left;
margin-top:7px;
margin-bottom:7px;
    }
    &-items{
        display:flex;
       overflow-x: scroll;
    /* width */
&::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track,&::-webkit-scrollbar-thumb{
    border-radius: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background:#EC471A;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
    
    }
    
    &-item{  
        padding:10px; 
        border-right:1px solid#ccc;
        margin-bottom:10px;
        
        &:last-of-type{
            border-right:0px;
        }


        &__hour,&__temp,&__description{
            margin:0;
        }
     &__hour{
   
   color:#b4b4b4;

     }
&__temp{

}
&_description{

}


 }
}